# Build output
bin/
obj/
artifacts/
publish/
publish-cors-test/

# Visual Studio
.vs/
*.user
*.suo
*.hprof


# Secrets
appsettings.Development.json
appsettings.Production.json
secrets.json
.env
firebase_options.dart



# Keys
*.pfx
*.pem
*.key

# Logs
*.log